

# =========================
# OCR Engine
# =========================
paddleocr==2.7.0.3
paddlepaddle

# =========================
# Image & PDF Processing
# =========================
opencv-python==4.6.0.66
Pillow==10.0.0
PyMuPDF==1.20.2

# =========================
# Utils
# =========================
numpy==1.23.5
tqdm==4.67.1
pyclipper==1.4.0
shapely==2.0.1
